/*CSS follows the most specific rule so things which are most specific take priority*/

/*selectors followed by curly brances then poperty and value pairs*/

/*one selector can have multiple property and value pairs*/
body {
    background-color: aquamarine;
    color: black;
    font-size: 15px;
}

/*multiple elements can be targeted at once*/
h1, h2, h3 {
    color: palevioletred;
}

/*class names start with a .*/
.info {
    background-color: azure;
}

/*ID names start with a #*/
#header {
    background-color: antiquewhite;
}

/*A decendents selector using a space will target all things within a specific element*/
ul li {
    background-color: blanchedalmond;
}

/*target all items under and element*/
header, header* {
    background-color: aqua;
}

/*width works withing the parent element*/

/*font size is absolute while em is relative to partent font size and rem goes off the root element of the html element*/